<form action="/users/login" method="POST">
    <label>Email</label>
    <input type="email" name="email" required>
    <label>Password</label>
    <input type="password" name="password" required>

    <!-- Turnstile widget -->
    <div class="cf-turnstile"
    data-sitekey="<%= process.env.TURNSTILE_SITEKEY %>"></div>
    <button type="submit">Login</button>
</form>

<!-- Turnstile script -->
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async
defer></script>

    <p><a href="/password/forgot">Forgot Password?</a></p>
    <p>Don’t have an account? <a href="/users/register">Register here</a></p>