<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>

    <body>
        <h2>Reset Password</h2>
        <form action="/users/reset-password" method="POST">
            <label>Email</label>
            <input type="email" name="email" required>
            <!-- Turnstile widget -->
            <div class="cf-turnstile"
            data-sitekey="<%= process.env.TURNSTILE_SITEKEY %>"></div>
            <button type="submit">Send Reset Link</button>
        </form>
        
        <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async
        defer></script>
    </body>
</html>